body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

textarea {
    max-width: 100%;
    max-height: 6em;
}

#faqBox {
    height: 26em;
}

.half-width {
    width: 50%;
}